# !!! DO NOT TOUCH THIS !!!
config-version: 4

prefix: '&8[&cTwitch&8]'
reload_time: 60

# You can get your client_id and client_secret here: https://dev.twitch.tv/console/apps (Create an app)
client_id: ''
client_secret: ''

check_updates: true

# If you want to remove channels that are invalid from the configuration to not show the message in console (not found on Twitch)
remove_invalid_channels: true

# The list of channels you want to check
channels:
  - 'channel1'

# Twitch to Minecraft username linking (you can add and remove them via commands, or manually look for the player UUID)
# Format:
# minecraft_UUID: twitch_username
linked_users: []

# Additional multi stream message
multipleStreamService:
  enabled: false
  broadcastTime: 60
  # Available services: 'multistream', 'multitwitch'
  type: 'multitwitch'
  # The URL to the service
  configuration: '%separator%%channels%'
  # The separator for the channels, example: 'channel1/channel2/channel3'
  separator: '/'
  # If you want to use a custom URL, set this to true, type will be ignored
  useCustomUrl: false
  baseUrl: 'https://customservice.com'


# Store current streaming channels in a MYSQL database,
# will be automatically updated when a streamer starts/stops streaming
# Changes require a restart
mysql:
  enabled: false
  host: 'localhost'
  port: 3306
  database: 'twitch'
  username: 'root'
  password: ''
  table: 'twitch_channels'

# Commands to execute when a streamer starts/stops streaming
# This command will replace %player% with the linked player name and execute the command for EACH linked player
# so if you have 3 linked players to a channel and the command is 'tellraw %player% {"text":"%channel% is now streaming","color":"gray"}'
# it will execute the command 3 times with %player% replaced with each linked player name
# This will be executed every reload_time seconds, and ONLY to the linked players that are ONLINE
# Placeholders: %player% - linked player name, %channel% - channel name, %title% - stream title
commands:
  enabled: false
  start:
    - 'tellraw @a {"text":"%channel% of %player% is now streaming","color":"gray"}'
  stop:
    - 'tellraw @a {"text":"%channel% of %player% is not streaming anymore","color":"gray"}'


# Here you can specify custom commands for each channel, the commands will be as always executed for each linked player
channelCommands:
  enabled: false
  "channel1":
    start:
      - 'tellraw @a {"text":"%channel% of %player% is now streaming","color":"gray"}'
    stop:
      - 'tellraw @a {"text":"%channel% of %player% is not streaming anymore","color":"gray"}'



# Also here you can use %player% to replace with the linked player name, and %channel% to replace with the channel name
# The command will be executed for each linked player, so like the commands above, if you have 3 linked players to a channel it will execute 3 times
# This will be executed every reload_time seconds, and ONLY to the linked players that are online
# Placeholders: %player% - linked player name, %channel% - channel name, %title% - stream title
timedCommands:
 enabled: false
 live:
   - 'give %player% minecraft:diamond 1'


# Filter for specific game types (case-insensitive)
filter-stream-type:
  enabled: false
  games:
    - 'Minecraft'

# Check if the stream title contains a specific string (case-insensitive)
filter-stream-title:
  enabled: false
  text:
    - 'Minecraft server!'

# Placeholders (requires PlaceholderAPI)
placeholders:
  enabled: true
  live: '&c[Live]'
  offline: '&7[Offline]'

# Bungee mode (broacast message to all servers) !! Requires restart to apply changes !!
bungee:
  enabled: false

disable-streaming-message: false
disable-not-streaming-message: false

bstats-enabled: true